@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-form-base {
  top: 130px;
  left: 130px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  width: 400px;
  border: 1px solid #9c9ca6e4;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  input {
    width: 60%;
    height: 30px;
    margin: 4px;
    border-radius: 4px;
    outline: none;
    border: 1px solid grey;
  }
  .login-submit-button {
    width: 60%;
    height: 30px;
    background-color: rgb(49, 179, 255);
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
}
.login-form-login-to-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  margin-top: 30px;
  border: 1px solid grey;
  font-family: "Roboto Condensed", sans-serif;

  .invitation-to-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
  }

  .register-text {
    font-size: 18px;
  }

  .to-register {
    font-size: 18px;
  }
}

.login-form-download-app {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .login-form-download {
    img {
      width: 50%;
    }

    p {
      font-size: 15px;
    }
  }
}
.info-links {
  width: 50%;
}
.facebook-link {
  bottom: 14px;
}
a {
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-weight: bold;
}
.facebook-picture {
  width: 40px;
}
.login-form-facebook-link {
  a {
    color: rgb(0, 102, 255);
    font-weight: 200;
  }
}
.loginform-google-icon {
  width: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form-login-google {
  width: 60%;
}
.phone-picture {
  position: relative;
}
.info-links {
  width: 50%;
  position: relative;
  top: 200px;
}
